﻿@page
@model IndexModel

@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <div class="container-fluid">
        <form>
            <div class="input-group mb-3">
                <div class="input-group-prepend">
                    <span class="input-group-text">Search</span>
                </div>
                <input type="text" class="form-control" placeholder="Version Number" asp-for="SearchString" />
            </div>
            <span class="text-danger">@Model.SearchError</span>
        </form>
        <h2>Software versions:</h2>
        <ul class="list-group">
            @foreach (var software in Model.MatchedSoftware)
            {
                <li class="list-group-item d-flex justify-content-between align-items-center">
                    @software.Name
                    <span class="badge badge-primary badge-pill">@software.Version</span>
                </li>
            }
        </ul>
    </div>
</div>
